$ff1: "Roboto", serif;
$fs: 18px;

// Breakpoints for each query
$phone: "only screen and (max-width: 375px)";
$phone-xl: "only screen and (max-width: 479px)";
$note: "only screen and (max-width: 767px)";
$tablet: "only screen and (max-width: 1024px)";
$laptop: "only screen and (max-width: 1366px)";
$desktop: "only screen and (max-width: 1680px)";
$desktop-xl: "only screen and (max-width: 1920px)";

@media #{$desktop-xl} {}

@media #{$desktop} {}

@media #{$laptop} {}

@media #{$tablet} {}

@media #{$note} {}

@media #{$phone-xl} {}

@media #{$phone} {}
