@font-face {
  font-family: "Roboto";
  src: url("../../fonts/RobotoLight.woff2") format("woff2"), url("../../fonts/RobotoLight.woff") format("woff");

  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/RobotoRegular.woff2") format("woff2"), url("../../fonts/RobotoRegular.woff") format("woff");

  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/RobotoBold.woff2") format("woff2"), url("../../fonts/RobotoBold.woff") format("woff");

  font-weight: 700;
  font-display: swap;
}
