.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-instagram {
  width: 1.01em;
  height: 1em;
  fill: #231f20;
}
.ico-mono-telegram {
  width: 1em;
  height: 1em;
  fill: #231f20;
}
.ico-mono-why1 {
  width: 1em;
  height: 1em;
  fill: #2f353c;
}
