{% import "partials/_mixins.html" as mixins %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>

    <title>{{ webTitle }}</title>
    <meta name="description" content="{{ webDescription }}">
    <meta name="keywords" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-TileColor" content="#181c25">
    <meta name="theme-color" content="#181c25">


    <link rel="icon" href="favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <!-- favicon.ico in root -->

    <!-- Icon for dark theme -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
      <style>
        path {
          fill: #000;
        }
        @media (prefers-color-scheme: dark) {
          path {
            fill: #fff;
          }
        }
      </style>
      <path fill-rule="evenodd" d="M0 0h16v16H0z"/>
    </svg> -->

    <link rel="stylesheet" media="all" href="css/header.css"/>
    {% include "../partials/_media-tags.html" %}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="mainwrap">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN styles -->
    <link rel="stylesheet" media="all" href="css/main.css"/>
    <!-- END styles -->

    <!-- BEGIN scripts -->
    <script src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
